<?xml version="1.0"?>
<robot name="owl_robot" xmlns:xacro="http://wiki.ros.org/xacro">


    <xacro:include filename="$(find owl_description)/urdf/6.5/owl.xacro"/>    
    <xacro:include filename="$(find owl_description)/urdf/6.5/gazebo/gazebo_6.5_control.xacro"/>    


    <!-- Robotiq 2F 85 Macros-->
    <xacro:include filename="$(find owl_description)/urdf/grippers/vaccum/vaccum_gripper.xacro"/>    

    <!-- OWL 6.5 Robot-->
    <xacro:owl_arm parent="world">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    </xacro:owl_arm>

    <!-- OWL 6.5 Gazebo control-->
    <xacro:gazebo_control/>
    
    <!-- Adding Vaccum -->
    <xacro:vaccum_gripper parent="tcp">
        <origin xyz="0.0 0.0 0.0" rpy="1.57 0 3.14" />
    </xacro:vaccum_gripper>

   

</robot>
