<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:property name="package_name" value="owl_description" />

<!-- Macro of Vaccum Gripper -->

<xacro:macro name="vaccum_gripper" params="parent *origin">
  <link name="gripper_link">
    <inertial>
      <origin
        xyz="0.092094 -0.0025024 -0.013531"
        rpy="0 0 0" />
      <mass
        value="0.99242" />
      <inertia
        ixx="0.0019778"
        ixy="-9.0867E-08"
        ixz="-1.3288E-08"
        iyy="0.00448"
        iyz="-3.6223E-08"
        izz="0.003475" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://${package_name}/meshes/grippers/vaccum/base_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://${package_name}/meshes/grippers/vaccum/base_link.stl" />
      </geometry>
    </collision>
  </link>


  <joint name="robot_ee" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="gripper_link" />

  </joint>

</xacro:macro>
</robot>
