<?xml version="1.0"?>
<robot name="owl_robot" xmlns:xacro="http://wiki.ros.org/xacro">


    <xacro:include filename="$(find owl_description)/urdf/6.5/owl.xacro"/>    
    <xacro:include filename="$(find owl_description)/urdf/grippers/vaccum/vaccum_gripper.xacro"/>    

<!-- OWL 6.5 Basic robot -->
    <xacro:owl_arm parent="world">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    </xacro:owl_arm>

<!-- Adding Vaccum Gripper -->
    <xacro:vaccum_gripper parent="tcp">
        <origin xyz="0.0 0.0 0.0" rpy="1.57 0 3.14" />
    </xacro:vaccum_gripper>


</robot>
