<?xml version="1.0"?>
<robot name="owl_robot" xmlns:xacro="http://wiki.ros.org/xacro">


    <xacro:include filename="$(find owl_description)/urdf/6.5/owl.xacro"/>    
    <xacro:include filename="$(find owl_description)/urdf/grippers/robotiq2f85/robotiq2f85.urdf.xacro"/>    

<!-- OWL 6.5 Basic robot -->
    <xacro:owl_arm parent="world">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    </xacro:owl_arm>

<!-- Adding Robotiq 2F 85 -->
    <xacro:robotiq2f85 parent="tcp">
        <origin xyz="0 0.0 -0.01" rpy="0 3.14 0" />
    </xacro:robotiq2f85>


</robot>
